* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
}

/* Start header  */

header {
  padding: 30px 0;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  position: absolute;
  width: 100%;
  z-index: 1;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*

Flex: Dùng thẻ cha để điều khiển thẻ con TRỰC TIẾP (không đieukhien thẻ cháu). 

justify-content: align theo trục chính

align-item: align theo trục phụ

*/
.header__container nav a {
  margin-right: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 17px;
  color: white;
  transition: 0.3s;
}
.header__container nav a:hover {
  color: #e62b4a;
}
.header__container .active {
  color: #e62b4a;
}
.header__container .logo {
  font-weight: 700;
  font-size: 2rem;
  /* 1rem = 18px */
  color: white;
}
/* End header */
/* Start carousel */
.carousel {
  height: 100vh;
  min-height: 500px;
  background-image: url(./image-video/home_slider.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__container {
  width: 60%;
  height: max-content;
  text-align: center;
  color: white;
}

.carousel__container h2 {
  font-size: 5rem;
  font-weight: 700;
  margin: 10px 0;
  line-height: 90px;
}

.carousel__container p {
  font-size: 1.6rem;
}

.carousel__container button {
  width: 140px;
  height: 50px;
  background-color: #e62b4a;
  color: white;
  text-transform: uppercase;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-top: 10px;
}

.carousel__container i {
  font-size: 30px;
  margin-top: 2rem;
  animation-name: animation_arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* end header  */
/* start service */
.service {
  padding: 80px 0;
  background-color: black;
}
.unique-selling-point {
  text-align: center;
  width: 80%;
  margin: auto;
  letter-spacing: 1px;
}
.unique-selling-point p:first-of-type {
  color: #e62b4a;
  font-weight: 300;
  font-size: 1rem;
}
.unique-selling-point h2 {
  color: white;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 10px;
}
.unique-selling-point p:last-of-type {
  color: #888888;
  font-weight: bold;
  font-size: 1rem;
  margin: 20px 0 20px 0;
}
.service .slider__item {
  height: 250px;
  padding: 10px;
}
.item__wrapper {
  color: #888888;
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.item__wrapper::after {
  content: "";
  display: block;
  position: absolute;
  background-color: red;
  width: 5px;
  height: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.item__wrapper:hover::after {
  height: 100%;
}

.slider__item i {
  font-size: 50px;
}
.service .service__slider {
  width: 100%;
}
/* end service */
/* start blog  */
.blog {
  padding: 90px 0;
  background: #f3f3f3;
}
.blog__title {
  text-align: center;
  margin-bottom: 50px;
}
.blog__title p:first-of-type {
  color: #888888;
  font-size: 14px;
  font-weight: 400;
}
.blog__title h2 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 20px;
}
.blog__title p:last-of-type {
  color: #888888;
  font-weight: bold;
}
.blog__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.blog__list img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  filter: grayscale(50%) contrast(50%);
}
.blog__item {
  position: relative;
}

.item__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(230, 43, 74, 0.6);
  transition: 0.3s;
}
.item__overlay .search {
  position: absolute;
  width: 40px;
  height: 40px;
  background: white;
  color: black;
  top: 60px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}
.blog__item:hover .search {
  top: 30px;
}
.blog__item .search:hover {
  color: white;
  background: black;
}
.blog__item:hover .item__overlay {
  opacity: 1;
}
.overlay__title {
  color: white;
  position: absolute;
  left: 30px;
  bottom: 10px;
  transition: 0.3s;
}
.blog__item:hover .overlay__title {
  bottom: 30px;
}
.blog__item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.blog__item-2 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}
/* end blog  */
/* start of number  */
.number {
  padding: 90px 0;
  background: #000;
}
.number__content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 65%;
  margin: 0px auto;
}
.number__content span {
  font-size: 4rem;
  color: white;
  font-weight: 300;
}
.number__content p {
  font-size: 20px;
  color: #888888;
}
/* end of number  */
/* start of experience */
.experience {
  padding: 80px 0;
  background-image: url(./image-video/bussiness_img_1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.experience__media {
  width: 75%;
  margin: 30px auto 0;
}
.experience__media video {
  width: 100%;
  object-fit: cover;
}
/* end of experience */
/* start of contact  */
.contact {
  padding: 80px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__title {
  width: 60%;
  text-align: center;
}
.contact__title h2 {
  font-size: 3rem;
  font-weight: 400;
}
.contact__title p {
  color: #888888;
  margin-top: 20px;
}
.contact__form {
  display: flex;
  margin: 30px auto 0;
  width: 70%;
  align-items: center;
}
.map {
  width: 60%;
}

.form__container {
  width: 40%;
}
.contact__form form {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}
form input,
form textarea {
  margin-bottom: 30px;
  padding: 1em;
  font-size: 15px;
  border: 1px solid #888888;
}
.form-button {
  padding: 20px 0;
  background: #000;
  color: white;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}
.form-button:hover {
  background: #e62b4a;
}
/* end of contact  */
/* start of footer  */
footer {
  padding: 115px 175px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer__credit p {
  font-size: 14px;
}

.footer__follow-us a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-size: 16px;
  text-align: center;
}
.footer__follow-us i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}
.footer__follow-us i:hover {
  background-color: #e62b4a;
}
/* end of footer  */
@keyframes animation_arrow {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(50px);
    opacity: 0;
  }
}
