.item {
  background-color: red;
  border: 1px solid blue;
  /* width: 20px;
  height: 20px; */
}
.container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  gap: 10px;
}
